    /* RESET */
        /* *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        } */

        /* header  */
section.header {
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 70px;
    font-size: 25px;
    background-color: white;
    margin-top: 13px;
    margin-bottom: 15px;
}

.header-left p {
    color: orange;
}

.header-right {
    display: flex;
    align-items: center;
}

    .header-menu ul li a {
    text-decoration: none;
    padding: 15px;
    color: black;
    text-transform: uppercase;
}

.header-btn a {
    text-decoration: none;
    color: white;
    background-color: #f57c0a;
    padding: 16px 40px;
    margin-top: 2px;
    height: 60px;
    width: 80px;
    border-radius: 10px;
}
    
.header-menu ul {
    display: flex;
}

.header-menu ul li a:hover {
    color: #f57c0a;}

.header-menu ul li {
    list-style: none;
}


/* hero */

section.hero {
    display: flex;
    height: 560px;
    margin-top: 10px;
    background-color:#ebebe0 ;
    align-items:center;
    
}

.hero-left {
    flex-basis: 50%;
    color: #000066;
    padding:48px 48px 48px 0px;
}

.button a {
    background-color: orange;
    text-decoration: none;
    color: white;
    padding: 21px 62px;
    margin-top: 2px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 75px;}

.hero-right {
    flex-basis: 50%;
}

.hero-wrapper {
    width: 460px;
    margin-left: 85px; 
}

.hero-wrapper h1 {
    font-size: 38px;
    margin-top: 22px;
}

.hero-left p {
    font-size: 23px;
    margin-top: 35px;
}

.hero-left h4 {
    font-size: 33px;
    color: orange;
    margin-top: 24pxS;
}

.hero-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pictures img:nth-child(1){
    position: relative;
    z-index: 3;
    height: 553px;
    width: 553px;
}
.pictures img:nth-child(2){
    position: absolute;
    z-index: 2;
    height: 124px;
    width: 110px;
    right: 460px;
    }

.pictures img:nth-child(3){
    width: 120px;
    height: 110px;
    background: white;
    position: absolute;
    top: 311px;
    right: 175px;
    z-index: 2;
border-radius: 16px;}

.pictures img:nth-child(4){
    width: 115px;
    position: absolute;
    z-index: 4;
    height: 132px;
    right: 215px;
    top: 530px;
}
.pictures img:nth-child(5){
    width: 126px;
    height: 117px;
    position: absolute;
    z-index: 5;
    top: 382px;
    right: 524px;
    border-radius: 10px;
}


/* beyond */
section.beyond {
    display: flex;
    height: 950px;
    margin-top: 20px;
    align-items: center;
    position: relative;
    width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

.beyond-left {
    flex-basis: 50%;
    padding: 50px 48px 50px 48px;
    height: 100%;
    width: 164px;
}

.beyond-right {
    flex-basis: 50%;
    height: 100%;
    width: 164px;
    text-align: right;
}

img.beyon-bg {
    position: absolute;
    left: 45%;
    z-index: -1;
}

.beyond h1 {color: #003399;font-size: 34px;}

.beyond h4 {
    font-size: 23px;
    color: #ff9900;
}

.beyond p {
    font-size: 21px;
    color: #003cb0;
}

.beyond-left a {
    background-color: orange;
    text-decoration: none;
    color: white;
    padding: 21px 62px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 75px;}

.beyond img { height: 100%;
}


.beyond-wrapper {
    padding: 150px 48px 50px 48px;
}

/* creative */

.creative h1 {
    font-size: 35px;
    text-align: center;
    color: blue;
}

.creative p {
    text-align: center;
    font-size: 20px;
}

.creative-wrapper1 {
    width: 1120px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.single-creative-item img {
    width: 100px;
    height: 100px;
    margin-left: 71px;
}

.single-creative-item {
    margin: 0 15px;
    width: 250px;
    background:#ebebe0 ;
}

.single-creative-item h3 {
    font-size: 20px;
    text-align: center;
}
.creative-wrapper2{
    width: 1120px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 19px;
}

.single-creative-item img {
    width: 80px;
    height: 80px;
    margin-left: 71px;
    margin-top:22px ;
}

.single-creative-item {
    margin: 0 15px;
    width: 250px;
    background: lightgrey;
    border-radius: 15px;
}

.single-creative-item h3 {
    font-size: 20px;
    text-align: center;
}
.span1 {
    color: orange;
}

.span2 {
    color: green;
}
.button1 a {
    color: white;
    background-color: orange;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding:  20px 60px;
    margin-top: 20px;
}

.button1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 55px;
}


                     /* sylvan */


section.sylvan {
    display: flex;
    height: 890px;
    margin-top: 50px;
    align-items: center;
    width: 1440px;
    justify-content: space-between;
    margin: 0 auto;
}

.sylvan-left {
    flex-basis: 50%;
    height: 500px;
}

.sylvan-left h1 {
    color: #000066;
    font-size: 40px;
    margin-left: 35px;
}

.sylvan-left img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.sylvan-btn a {
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    color: orange;
    padding: 17px 40px;
    margin-left: 56px;
    border: orange;
}

.sylvan-right {height: 500px;}

.sylvan-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 855px;
    font-size: 20px;
    margin: 0 auto;
    padding: 40px 22px 40px 22px;
    height: 602px;
}

.single-sylvan-item {
    background-color: #ebebe0;
    display: flex;
    justify-content: space-evenly;
    border-radius: 14px;
}

.sylvan-item-left {
    display: flex;
    align-items: center;
}

img {
    height: 50px;
    text-align: center;
}

.sylvan-item-left img {
    padding: 15px;
}

.sylvan-btn a {
    border: 3px solid;
}

/* Tiktok section */
.tiktok-info img {
    height: 100px;
    width: 100px;
}

.tiktok-right img {
    width: 100%;
    height: 100%;
}

section.tiktok {
    height: 670px;
    background: #ddd;
    display: flex;
    justify-content: space-between;
} 

.tiktok-left {
    width: 1440px;
    height: 670px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.h1 {
    font-size: 34px;
}

.tiktok-wrapper {
    width: 800px;
    padding: 50px 35px 50px 35px;
    height: 450px;
}

.tiktok-left h1 {
    font-size: 35px;
    color: #14213d;
}

.tiktok-left h4 {
    font-size: 25px;
    color: orange;
}

.tiktok-left p {
    font-size: 20px;
    color: #333333;
}

.tiktok-btn {
    font-size: 16px;
    color: white;
    background-color: orange;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px 60px;
    border-radius: 10px;
    margin-top: 45px;
    display: inline-block;
}

.tiktok-info {
    width: 345px;
    height: 106px;
    padding: 50px 30px 50px 0px;
    display: flex;
    justify-content: space-evenly;
}


.tiktok-right {
    width: 600px;
    height: 600px;
    margin-top: 45px;
}

/* Last */

section.last {
    width: 1440px;
    margin: 0 auto;
    margin-top: 35px;
}

.last-wrapper {
    width: 1315px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.single-last-item:nth-child(1) {
    width: 390px;
    height: 215px;
}

.single-last-item:nth-child(2) {
    width: 135px;
    height: 145px;
}

.single-last-item:nth-child(3) {
    width: 225px;
    height: 185px;
}

.single-last-item:nth-child(4) {width: 385px;height: 200px;}

.single-last-item ul li {
    list-style: none;
    padding: 0px;
    list-style: 1.4;
}

.single-last-item ul li a {
    text-decoration: none;
}

.single-last-item ul {
    padding: 0;
}

.single-last-item:nth-child(1) h1 {
    font-size: 32px;
    margin-bottom: 16px;
    color: orange;
}

.single-last-item:nth-child(1) p {
    font-size: 16px;
}

.single-last-item ul li a {
    color: #333333;
    font-size: 18px;
}

.single-last-item h4 {
    font-size: 20px;
}